# Игнорируем виртуальное окружение
env/
venv/

# Игнорируем кэшированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы базы данных и индексы FAISS
faiss_index/
*.db
*.faiss
bd.xlsx

# Игнорируем зависимости (если используется)
Pipfile
Pipfile.lock

# Игнорируем логи и временные файлы
*.log
*.tmp
*.swp
.DS_Store

# Игнорируем конфигурационные файлы (если есть секретные ключи)
config.py

# Игнорируем файлы ОС и редактора
.vscode/
.idea/
