# Игнорируем виртуальное окружение
env/
venv/
.env 

# Игнорируем кэшированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы базы данных и индексы FAISS
faiss_index/
*.db
*.faiss


# Игнорируем зависимости (если используется)
Pipfile
Pipfile.lock

# Игнорируем логи и временные файлы
*.log
*.tmp
*.swp
.DS_Store

# Игнорируем файлы ОС и редактора
.vscode/
.idea/
